
.container {

    display:inline-flex;
  }
  
 #navtab{
     background-color: dodgerblue;
     border: 0px solid white; 
 }
 .title{color: white; font-size: 2rem}
 h1{color: black;
     font-weight: bold;
    text-align: start;
    
}
.form1{border: 3px solid whitesmoke;
    overflow: auto;
box-sizing: border-box; 
}
.form2{border: 3px solid whitesmoke; 
    margin-top: 2%;
    overflow: auto;
    
    
}
input{ outline: 0;
    border-width: 0 0 2px;
    border-color:black;
    margin-top: 20px;
}
.programForm{
    display: inline-flex;
    align-content: inherit
}
